/*==========================================
 Button
==========================================*/
button {
  color: var(--text-button-primary);
  background-color: var(--button-primary);
  border: 1px solid var(--button-primary);
  font-weight: 600;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  min-width: max-content;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: var(--button-primary-hover);
}
button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
button:disabled:hover {
  background-color: var(--button-primary);
  color: var(--text-button-primary);
}
.button-secondary {
  background-color: var(--button-secondary);
  color: var(--text-button-secondary);
  border: 1px solid var(--text-button-secondary);
}
.button-secondary:hover {
  background-color: var(--button-secondary-hover);
  color: var(--text-button-secondary-hover);
}
.button-secondary:disabled:hover {
  background-color: var(--button-secondary);
  color: var(--text-button-secondary);
}
.button-danger {
  background-color: var(--button-danger);
  color: var(--text-button-danger);
  border: 1px solid var(--text-button-danger);
}
.button-danger:hover {
  background-color: var(--button-danger-hover);
  color: var(--text-button-danger-hover);
}
.button-danger:disabled:hover {
  background-color: var(--button-danger);
  color: var(--text-button-danger);
}
.button-small {
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
}
.buttons-group {
  display: flex;
  gap: 1rem;
}
.buttons-group-delete {
  justify-content: center;
}

/*==========================================
 Form
==========================================*/
label {
  font-weight: 500;
}
input {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  color: var(--text);
  border-radius: 0.2rem;
  border: 1px solid var(--text);
  outline: none;
  font-family: inherit;
  font-size: 0.8rem;
}
/* Prevent Chrome autofill styles by delaying them indefinitely */
input:-webkit-autofill {
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}
input:focus {
  border-color: var(--button-primary);
}
input[aria-invalid="true"] {
  border-color: var(--text-error);
}
select,
::picker(select) {
  appearance: base-select;
}
select {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  color: var(--text);
  border-radius: 0.2rem;
  border: 1px solid var(--text);
  outline: none;
  font-family: inherit;
  font-size: 0.8rem;
}
select:hover,
select:focus {
  background: var(--button-secondary);
  border: 1px solid var(--button-primary);
}
select::picker-icon {
  color: var(--button-primary);
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
::picker(select) {
  border: none;
  border-radius: 0.2rem;
  opacity: 0;
  background-color: var(--background);
  top: anchor(bottom);
  transition: all 0.4s allow-discrete;
}
option {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  border: 1px solid var(--text);
  background: var(--option);
  color: var(--text);
  padding: 0.5rem;
  transition: 0.4s;
}
option:first-of-type {
  border-radius: 0.2rem 0.2rem 0 0;
}
option:last-of-type {
  border-radius: 0 0 0.2rem 0.2rem;
}
option:not(option:last-of-type) {
  border-bottom: none;
}
option:hover {
  background: var(--option-hover);
}
option:focus {
  background-color: var(--option-checked);
}
option[value="pending"] {
  background-color: var(--pending);
}
option[value="pending"]:hover {
  background-color: var(--pending-hover);
}
option[value="process"] {
  background-color: var(--process);
}
option[value="process"]:hover {
  background-color: var(--process-hover);
}
option[value="resolved"] {
  background-color: var(--resolved);
}
option[value="resolved"]:hover {
  background-color: var(--resolved-hover);
}
option::checkmark {
  order: 1;
  margin-left: auto;
  content: "✓";
}
::picker(select):popover-open {
  opacity: 1;
}
@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}
.error-message {
  font-size: 0.8rem;
  color: var(--text-error);
}

/*==========================================
 Dialog
==========================================*/
dialog {
  position: fixed;
  margin: auto;
  padding: 1rem;
  border: none;
  background-color: var(--dialog);
  color: var(--text);
  box-shadow: 1px 1px 4px var(--shadow);

  /* Animation */
  --dialog-duration: 160ms;

  transition:
    opacity var(--dialog-duration) ease-out,
    scale var(--dialog-duration) ease-out,
    display var(--dialog-duration) ease-out allow-discrete;

  scale: 0.96;
  opacity: 0;
}
dialog::backdrop {
  background: var(--shadow);
}
dialog[open]::backdrop {
  animation: backdrop-in 150ms ease-out;
}
dialog[open] {
  opacity: 1;
  scale: 1;

  @starting-style {
    opacity: 0;
    scale: 0.96;
  }
}

@keyframes backdrop-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*==========================================
 Pagination
==========================================*/
.pagination {
  display: flex;

  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.pagination-buttons {
  display: flex;
  gap: 0.5rem;
}

/*==========================================
 Toast
==========================================*/
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  color: var(--text);
  border: 1px solid transparent;
  backdrop-filter: blur(4px);
  box-shadow: 1px 1px 6px var(--shadow);
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;

  transition:
    opacity 200ms ease,
    transform 200ms ease;
}
.toast-visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.toast-info {
  background-color: var(--info);
  border-color: var(--info-border);
}
.toast-success {
  background-color: var(--success);
  border-color: var(--success-border);
}
.toast-error {
  background-color: var(--error);
  border-color: var(--error-border);
}

@media screen and (width <= 430px) {
  .pagination-buttons {
    position: fixed;
    bottom: 1rem;
    z-index: 10;
    left: 1.5rem;
    right: 1.5rem;
    padding-block: 0.2rem;
    justify-content: space-between;
    background-color: var(--background);
  }
  .button-delete {
    position: absolute;
    right: 0;
    bottom: 1rem;
  }
  .report-item:last-of-type .button-delete {
    bottom: 0;
  }
}
